
@import url('https://fonts.googleapis.com/css2?family=Antic&family=The+Nautigal&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic&family=Old+Standard+TT&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic&family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic&family=Montserrat:wght@100&family=Tenor+Sans&display=swap');

.containers-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 30px;
    position: absolute;

}

.containers-box .insider {
    
    justify-content: space-between;
    margin: 25px 15px;
    border: 1px solid #5C58AC;
    width: 420px;
    height: 250px;
    
    padding: 25px;
}

.main-text1 {
    position: absolute;
    
    

    font-family: 'Tenor Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    text-transform: uppercase;

    color: #000000;

    margin: 10px 5px;
}

.secondary1 {
    position: absolute;


    font-family: 'Montserrat', sans-serif;

    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;

    color: #000000;

    width: 364px;
    margin: 50px 5px;
    
}

.price-list {
    position: absolute;
    width: 168px;
    height: 30px;
    

    font-family: 'Montserrat', sans-serif;

    font-style: normal;
    font-weight: bolder;

    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;

    color: #5C58AC;

    margin: 180px 5px;
}

.arrow-right1 {
    position: absolute;
    width: 240.98px;
    height: 0px;
    
    
    border: 1px solid #CAC8F6;
    box-sizing: border-box;
    margin: 220px 0;
    
}

.arrow-right1::after,
.arrow-right1::before {
    content: '';
    position: absolute;
    
    margin: -9.5px 220px;
}

.arrow-right1::before {
    width: 1px;
    height: 1px;
    background-color: #CAC8F6;
    top: 9px;
}

.arrow-right1::after {
    width: 15px;
    height: 15px;
    border-top: 1px solid #CAC8F6;
    border-right: 1px solid #CAC8F6;
    transform: rotate(45deg);
    top: 2px;
    left: 2px;
}

.promo {
    position: absolute;
    width: 110.01px;
    height: 37px;

    font-family: 'Montserrat', sans-serif;

    font-style: normal;
    font-weight: bolder;
    font-size: 30px;
    line-height: 37px;

    color: #FF5656;
    margin: -45px 300px;
    background-color: white;
    text-align: center;
    
}

