
@import url('https://fonts.googleapis.com/css2?family=Antic&family=The+Nautigal&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic&family=Old+Standard+TT&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic&family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic&family=Montserrat:wght@100&family=Tenor+Sans&display=swap');

.upper {
    position: absolute;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0.21px;
    background-color: rgba(92, 88, 172, 1);
    
}




.logo {
    position: absolute;
    width: 149px;
    height: 36px;
    left: 100px;
    top: 12.71px;

    font-family: 'Antic', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color:#FFFFFF;

    
    margin: 3px 10px;
    
}

.dot {
    color: black;
}
.ru {
    color: #243640;
}
.under-logo {
    position: absolute;
    width: 83px;
    height: 22px;
    left: 166px;
    top: 45.71px;

    font-family: 'Old Standard TT', serif;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;

    color: #243640;

    margin: 3px 10px;
}

.place {

}

.street {
    position: absolute;
    width: 411px;
    height: 22px;
    left: 301.54px;
    top: 15.71px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;

    margin: 1px 5px;
}

.subway-station {
    position: absolute;
    width: 153px;
    height: 22px;
    left: 301.54px;
    top: 42.71px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;

    margin: 1px 5px;
}

.links-icons {
    height: 30px;
    width: 90px;
}

.image {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 785.75px;
    top: -4.79px;
    
    margin: 30px 0;
}
.first {
    width: 30px;
    height: 80px;
}
.image1 {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 841.28px;
    top: -4.79px;

    margin: 30px 0;
    
}

.image2 {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 896.81px;
    top: -4.79px;

    margin: 30px 0;

}

.number {
    position: absolute;
    width: 202px;
    height: 29px;
    left: 946.77px;
    top: 25.71px;
    
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #FFFFFF;

    margin: 0px 3px;
}

#sign-up {
    position: absolute;
    width: 308.77px;
    height: 50px;
    left: 1189.5px;
    top: 15.21px;

    border: 1px solid #FFFFFF;
    box-sizing: border-box;


}

/* .sign-up {
    position: absolute;
    width: 179px;
    height: 30px;
    left: 1254.39px;
    top: 25.21px;

    font-family: 'Montserrat', sans-serif;

    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;

    color: #FFFFFF;

    margin: 0 20px;
} */

.geolocation {
    position: absolute;
    width: 13.57px;
    height: 13.57px;
    left: 285.39px;
    top: 19.93px;
    margin: 0 5px;
}

.rectangle {
    position: absolute;
    width: 308.77px;
    height: 50px;
    left: 1189.5px;
    top: 15.21px;

    border: 1px solid #FFFFFF;
    box-sizing: border-box;

    margin: 0 5px;
}

.arrow-right {
    position: absolute;
    width: 240.98px;
    height: 0px;
    left: 0px;
    top: 122.56px;

    border: 1px solid #CAC8F6;
    box-sizing: border-box;

    
}

.arrow-right::after,
.arrow-right::before {
    content: '';
    position: absolute;

    margin: -9.5px 220px;
}

.arrow-right::before {
    width: 1px;
    height: 1px;
    background-color: #CAC8F6;
    top: 9px;
}

.arrow-right::after {
    width: 15px;
    height: 15px;
    border-top: 2px solid #CAC8F6;
    border-right: 2px solid #CAC8F6;
    transform: rotate(45deg);
    top: 2px;
    left: 2px;
}

.about-us {
    position: absolute;
    width: 85px;
    height: 30px;
    left: 283.97px;
    top: 107.56px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;

    color: #000000;

    margin: 0px 5px;
    cursor: pointer;
}

.profit {
    position: absolute;
    width: 97px;
    height: 30px;
    left: 398.36px;
    top: 107.56px;
    
    font-family: 'Montserrat', sans-serif;

    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
    
    color: #000000;

    margin: 0px 5px;
    cursor: pointer;
}

.services {
    position: absolute;
    width: 105px;
    height: 30px;
    left: 525.56px;
    top: 107.56px;

    font-family: 'Montserrat', sans-serif;

    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;

    color: #000000;

    margin: 0px 5px;
    cursor: pointer;
}

.comments {
    position: absolute;
    width: 119px;
    height: 30px;
    left: 660.76px;
    top: 107.56px;

    font-family: 'Montserrat', sans-serif;

    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;

    color: #000000;

    margin: 0px 5px;
    cursor: pointer;
}

.contacts {
    position: absolute;
    width: 146px;
    height: 30px;
    left: 809.97px;
    top: 107.56px;

    font-family: 'Montserrat', sans-serif;

    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;

    color: #000000;
    margin: 0px 5px;
    cursor: pointer;

}

.credit {
    position: absolute;
    width: 162px;
    height: 30px;
    left: 986.17px;
    top: 107.56px;

    font-family: 'Montserrat', sans-serif;

    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;

    color: #000000;

    margin: 0px 5px;
    cursor: pointer;
}

#sale {
    position: absolute;
    width: 310.5px;
    height: 65.7px;
    left: 1189.5px;
    top: 89.71px;
    
    background: #FF5656;

    margin: 0 6px;

    
}

.btn-danger {
    position: absolute;
    width: 268px;
    height: 30px;
    left: 1212.75px;
    top: 107.56px;
    font-family: 'Montserrat', sans-serif;

    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;

    color: #FFFFFF;

    
}

.beauty-girl {
    background-image: url('figma-girl2.jpg');
    position: absolute;
    width: 1611.01px;
    height: 650.19px;
    left: -9.26px;
    top: 165.42px;
    
    margin: -23px;
    
    object-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    /* max-width: 1600px;
    max-height: 650px; */
    
}

.lips {
    position: absolute;
    width: 693.91px;
    height: 94.8px;
    left: 98.48px;
    top: 247.72px;

    font-family: 'Tenor Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 90px;
    line-height: 105px;
    text-align: right;

    color: #000000;

    margin: -120px 0px;
}

.msc {
    position: absolute;
    width: 534.2px;
    height: 63.52px;
    left: 95.82px;
    top: 343px;

    font-family: 'Montserrat', sans-serif;

    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 61px;
    text-align: right;

    color: #000000;

    margin: -120px -10px;

}

.sale70 {
    position: absolute;
    width: 502.65px;
    height: 58px;
    left: 101.09px;
    top: 429.64px;

    font-family: 'Montserrat', sans-serif;

    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;

    color: #000000;

    margin: -120px 10px;
    
}

.price {
    position: absolute;
    width: 129.89px;
    height: 41.32px;
    left: 101.09px;
    top: 573.72px;
    
    font-family: 'Montserrat', sans-serif;

    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 49px;
    text-align: right;
    
    color: #000000;

    margin: -120px 10px;

}

.new-price {
    position: absolute;
    width: 231.04px;
    height: 94.8px;
    left: 297.2px;
    top: 530.51px;
    font-family: 'Montserrat', sans-serif;

    font-style: normal;
    font-weight: 600;
    font-size: 90px;
    line-height: 110px;
    text-align: right;

    color: #FFFFFF;

    margin: -125px 0;
}

.new-rub {
    position: absolute;
    width: 49.21px;
    height: 73.52px;
    left: 524.73px;
    top: 555.44px;

    font-family: 'Montserrat', sans-serif;

    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 73px;

    margin: -125px 0;

    color:#FFFFFF;

}

.circle {
    position: absolute;
    width: 301.29px;
    height: 168.38px;
    left: 258.32px;
    top: 540.64px;

    transform: rotate(-15deg);

    margin: -170px 28px;

}

.rub {
    position: absolute;
    width: 19.42px;
    height: 20.02px;
    left: 230.98px;
    top: 592.7px;

    font-family: 'Montserrat', sans-serif;

    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: right;

    margin: -120px 10px;
    
}

.line-throw-object {
    position: absolute;
    width: 167.98px;
    height: 0px;
    left: 90.08px;
    top: 617.51px;

    border: 1px solid #D2232A;
    transform: rotate(-12.61deg);

    margin: -140px 10px;

}

.cosmiology {
    position: absolute;
    width: 907.72px;
    height: 76.5px;
    left: 346.14px;
    top: 898px;

    font-family: 'Montserrat', sans-serif;

    font-style: normal;
    font-weight: 300;
    font-size: 35px;
    line-height: 43px;
    text-align: center;

    color: #000000;

    margin: 0 0;
    
}

.procedur {
    position: absolute;
    width: 281.18px;
    height: 45.28px;
    left: 659.41px;
    top: 1171px;

    font-family: 'Tenor Sans', sans-serif;

    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
    text-align: right;
    text-transform: uppercase;

    color: #000000;

    margin: 0 0;

}

.arrow-left2 {
    position: absolute;
    width: 344px;
    height: 0px;
    left: 866.51px;
    top: 1083.23px;

    border: 1px solid #000000;
    box-sizing: border-box;

    margin: 0 0;
}

.arrow-left2::after,
.arrow-left2::before {
    content: '';
    position: absolute;
    margin: -9.5px 325px;
}

.arrow-left2::after {
    width: 15px;
    height: 15px;
    border-top: 2px solid #000000;
    border-right: 2px solid #000000;
    transform: rotate(45deg);
    top: 2px;
    left: 2px;
}

.arrow-left2::before {
    width: 1px;
    height: 1px;
    background-color: #000000;
    top: 9px;
}

.arrow-left3 {
    position: absolute;
    width: 301.55px;
    height: 0px;
    left: 1616.27px;
    top: 936.25px;
    
    border: 2px solid #CAC8F6;
    box-sizing: border-box;
    transform: rotate(-180deg);
}

.arrow-left3::after,
.arrow-left3::before {
    content: '';
    position: absolute;
}

.arrow-left3::after {
    width: 15px;
    height: 15px;
    border-top: 2px solid #000000;
    border-right: 2px solid #000000;
    transform: rotate(45deg);
    top: 2px;
    left: 2px;
}

.arrow-left3::before {
    width: 1px;
    height: 1px;
    background-color: #000000;
    top: 9px;
}

.knows {
    position: absolute;
    width: 284px;
    height: 30px;
    left: 871.71px;
    top: 1044.16px;

    font-family: 'Montserrat', sans-serif;

    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;

    color: #000000;

    margin: 0 -5px;
}

.sucrifice {
    position: absolute;
    width: 1610px;
    height: 105px;
    left: -8px;
    top: 1269px;

    background: #5C58AC;
}

.quatation-text {
    position: absolute;
    width: 701.3px;
    height: 57.6px;
    left: 449.35px;
    top: 1293px;

    font-family: 'Montserrat', sans-serif;

    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    text-align: center;

    color: #FFFFFF;
    /* background-color: #000000; */
    margin: -1265px 30px;
}

.container-1 {
    position: absolute;
    width: 420px;
    height: 250px;
    left: 101.09px;
    top: 1446.98px;

    border: 1px solid #5C58AC;
    box-sizing: border-box;
}


.container-2 {
    position: absolute;
    width: 420px;
    height: 250px;
    left: 590.09px;
    top: 1446.98px;
    
    border: 1px solid #5C58AC;
    box-sizing: border-box;
}

.container-3 {
    position: absolute;
    width: 420px;
    height: 250px;
    left: 1079.09px;
    top: 1446.98px;
    
    border: 1px solid #5C58AC;
    box-sizing: border-box;
}

.cont-cap-text1 {
    position: absolute;
    width: 328.48px;
    height: 23.16px;
    left: 129.52px;
    top: 1476.98px;

    font-family: 'Tenor Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    text-transform: uppercase;

    color: #000000;
}

.box-with-profit {
    position: absolute;

}

/* <div class="box-with-profit">
            <div class="container-1">
                <p class="cont-cap-text1">Консультация врача</p>
                <p class="cont-text1">Вы не знаете какая процедура вам больше всего подойдет?
                    -Приглашаем на консультацию</p>
            </div>
            <div class="container-2">Увеличение губ</div>
            <div class="container-3"></div>
        </div> */


.give-sale15 {
    position: absolute;
    width: 1611.01px;
    height: 330px;
    left: -9.26px;
    top: 2421px;

    background: url("romantic-girl.jpg");
    background-size: cover;
}

.give-sale1 {
    position: absolute;
    width: 1006.75px;
    height: 45.28px;
    left: 292.65px;
    top: 2471px;

    font-family: 'Tenor Sans', sans-serif;

    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
    text-align: right;
    text-transform: uppercase;

    color: #000000;
    
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    top: 
}

.container {
    
    margin: 10px;

    position: absolute;
    width: 420px;
    height: 250px;
    left: 101.09px;
    top: 1446.98px;

    border: 1px solid #5C58AC;
    box-sizing: border-box;
}

.main-text {
    position: absolute;
    

    font-family: 'Tenor Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    text-transform: uppercase;

    color: #000000;
}

.secondary {
    font-size: 20px;
    
}