
.pop_up {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    
}

.pop_up_active {
    display: block;
}

.pop_up_container {
    display: flex;
    width: 100%;
    height: 100%;
}

.pop_up_body {
    margin: auto;
    width: 500px;
    background-color: khaki;
    border-radius: 10px;
    text-align: center;
    padding: 100px 15px 110px 15px;
    position: relative;
}

.pop_up_body input {
    display: block;
    margin: 25px auto 0px auto;
    width: 330px;
    padding: 17px 20px;
    background-color: bisque;
    border-radius: 10px;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 10px;
    color: aliceblue;

}

.pop_up_body p {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: black;
    margin-bottom: 40px;
}

.pop_up_body input:focus {
    outline: none;
}

.pop_up_body button {
    cursor: pointer;
    display: block;
    width: 330px;
    margin: 60px auto 0px auto;
    padding: 20px 0px;
    background-color: bisque;
    border-radius: 10px;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 16px;
    color: aliceblue;
}

.pop_up_close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 21px;
    cursor: pointer;
}

.button {
    margin-top: 40px;
    text-align: center;
}

.button a {
    background-color: antiquewhite;
    padding: 20px 50px;
    border-radius: 10px;
    text-decoration: none;
    color: aquamarine;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

* {
    box-sizing: border-box;
}